[user]
	name = ihaku4
	email = ihaku4@gmail.com
[alias]
	lg = log --graph --oneline --all --color
        df = diff --color
        st = status
        co = checkout
        ci = commit
        aa = add -A
[credential]
	helper = cache --timeout=36000
[core]
	excludesfile = /Users/durrrr/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
